body {
    background-color: black;
    color: limegreen;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    background-color: black;
    border-bottom: 1px solid limegreen;
}

.prompt {
    color: limegreen;
}

.input {
    color: limegreen;
}

.output {
    color: limegreen;
}

.footer {
    padding: 10px;
    background-color: black;
    border-top: 1px solid limegreen;
    text-align: center;
}